<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="POM Test Suite" parallel="tests" thread-count="2">

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Login Tests2">
        <classes>
            <class name="tests.LoginTest2"/>
        </classes>
    </test>

</suite>